<!-- <nav> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Search</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/">Search</a></li>
      <li><a href="#!/api/searches">Recent Searches</a></li>
    </ul>
  </div>
</nav>
<!-- /navbar -->
<div class="row">
  <div ng-hide="vm.movies.Search">
    <h1>{{vm.movies.Error}}</h1>
    <a class="error" href="#!/search" class="btn btn-default" role="button">Return to Search!</a>
  </div>
  <div ng-repeat="movie in vm.movies.Search" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img ng-if="movie.Poster !== 'N/A'" src={{movie.Poster}} alt="Movie Poster">
      <img ng-if="movie.Poster == 'N/A'" src="../images/not-found.png" alt="Movie Poster Not Found">
      <div class="caption">
        <h3 ng-href="{{movie.info.Website}}" >{{movie.Title}}</h3>
        <p>{{movie.info.Plot}}</p>
        <p><a href="#!/soundtrack/{{movie.Title}}" class="btn btn-outline-info" role="button">Soundtracks</a> <a href="#!/video/{{movie.Title}}" class="btn btn-outline-info" role="button">Videos</a> <a ng-if="movie.info.Website !== 'N/A'" ng-hide="!movie.info.Website" ng-href={{movie.info.Website}} class="btn btn-outline-info" role="button">Website</a>
      </div>
    </div>
  </div>
</div>