<form class="form-inline">
  <div class="form-group">
    <label for="destination">Movie Title:</label>
    <input type="text" class="form-control" id="destination" placeholder="Guardians of the Galaxy" ng-model="vm.movieSearch">
  </div>
    <button type="button" class="btn btn-default" ng-click="vm.search()">Search</button>
</form>
<div ng-hide="!vm.movies" class="row">
  <div ng-repeat="movie in vm.movies.Search" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img ng-if="movie.Poster !== 'N/A'" src={{movie.Poster}} alt="Movie Poster">
      <img ng-if="movie.Poster == 'N/A'" src="../images/not-found.png" alt="Movie Poster Not Found">
      <div class="caption">
        <h3>{{movie.Title}}</h3>
        <p>{{movie.info.Plot}}</p>
        <p><a href="#!/soundtrack/{{movie.Title}}" class="btn btn-default" role="button">Sountrack</a> <a href="#!/video/{{movie.Title}}" class="btn btn-default" role="button">YouTube</a> <a href="#" class="btn btn-default" role="button">Favorites</a></p>
      </div>
    </div>
  </div>
</div>