<!-- <nav> -->
<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Search</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/">Search</a></li>
    </ul>
  </div>
</nav>
<!-- /navbar -->
<div class="list-group">
  <div ng-hide="vm.searches.length > 0">
    <h1>No Recent Searches</h1>
    <a class="error" href="#!/search" class="btn btn-default" role="button">Return to Search!</a>
  </div>
  <a ng-repeat="search in vm.searches" href="#!/movie/{{search.title}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">{{search.title}}</h3>
    </div>
    <small>Times Searched: {{search.searchCount}}</small><br>
    <small>Last searched: {{ search.date | date : format }}</small>
  </a>
</div>