<!-- <nav> -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Movie Search</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#!/">Search</a></li>
      <li><a href ng-click="vm.return()">Return to Movie</a></li>
      <li><a href="#!/api/searches">Recent Searches</a></li>
    </ul>
  </div>
</nav>
<!-- /navbar -->
<div class="row">
  <div ng-show="vm.albums.length < 1">
    <h1>No Albums Found!</h1>
    <a class="error" ng-click="vm.return()" class="btn btn-default" role="button">Return to Movies!</a>
  </div>
  <div ng-repeat="album in vm.albums" class="col-sm-6 col-md-4">
    <div class="thumbnail" id='albums'>
      <img id="soundtrackimg" ng-if="album.images[0].url !== 'N/A'" src={{album.images[0].url}} alt="Album Cover">
      <img id="soundtrackimg" ng-if="album.images[0].url == 'N/A'" src="../images/not-found.png" alt="Album Cover Not Found">
      <div class="caption">
        <h3>{{album.name}}</h3>
          <p>Artist: {{album.artists[0].name}}</p>
        <p><a href="{{album.external_urls.spotify}}" class="btn btn-outline-info" role="button">Play on Spotify</a>
      </div>
    </div>
  </div>
</div>